.testimonial__card {
  width: 100%;
}
.client_img img {
  width: 57px;
  border-radius: 100px;
}
.testimonial__card .desc {
  margin-bottom: 40px;
  width: 100%;
}

.testimonial__card .desc p {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 139.5%;
  letter-spacing: -0.01em;
  color: #dfe8f8;
  width: 96%;
}

@media screen and (max-width: 420px) {
  .testimonial__card {
    margin-bottom: 30px;
  }
  .testimonial__card .desc {
    width: 100%;
  }
  .testimonial__card .desc p {
    width: 100%;
  }
  .col-6 {
    width: auto;
  }
}
